* { margin: 0; padding: 0;  }

body {
	background-color: #000;
	color: white;
	font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 50px;
	margin-bottom: 20px;
}

p {
	font-size: 26px;
	line-height: 1.2;
}

.header {
	position: absolute;
	z-index: 100;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 28px 0;
	padding-left: 60px;
}

/* gradient-top */
.main::before {
	content: '';
	height: 200px;
	width: 100%;
	position: absolute;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.5) 25%,
		rgba(0, 0, 0, 0)
	);
}

.main {
	height: 700px;
	width: 100%;
	background: url("../images/bg1.jpg") center;
	background-size: cover;
	align-items: center;
	justify-content: center;
	position: relative;
	border-bottom: 8px solid #222222;
}

.main h1 {
	font-size: 50px;
	text-align: center;
	margin: 0 30px;
}

.main h2 {
	font-size: 26px;
	text-align: center;
	margin: 10px 0;
}

.main-child {
	z-index: 1;
	position: relative;
	display: grid;
	justify-items: center;
}

/* gradient-background */
.gradient {
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to top,
		rgba(0, 0, 0, .8) 0,
		rgba(0, 0, 0, 0) 60%,
		rgba(0, 0, 0, 0.1) 100%
	);
}

.logo {
	width: 134px;
	height: 36px;
}

.right-menu {
	height: 35px;
	float: right;
	display: flex;
	margin-right: 60px;
}

.home-text {
	padding-top: 230px;
	margin-bottom: 20px;
	width: 50%;
}

.btn-join {
	background-color: #E50914;
	border: none;
  	color: #fff;
	padding: 5px 17px;
  	font-size: 16px;
	border-radius: 3px;
}

.btn-join:hover {
	color: #fff;
	background-color: #E50914;
	cursor: pointer;
}

.container-lang {
	position: relative;
	display: flex;
	border: 1px solid #AAAAAA;
	padding: 0;
	margin: 0 30px;
	border-radius: 2px;
}

.container-lang::before {
	content: 'language';
	font-family: 'Material Icons';
	pointer-events: none;
	position: absolute;
	top: 12%;
	left: 3px;
}

.container-lang select {
	width: 110px;
	padding: 0 22px;
}

.container-lang::after {
	top: 12%;
	right: 3px;
	font-family: 'Material Icons';
	font-size: 16px;
	content: 'arrow_drop_down';
	pointer-events: none;
	font-weight: 900;
	position: absolute;
}

.btn-lang {
	color: #fff;
	font-size: 14px;
	background-color: transparent;
	border: none;
	appearance: none;
}

.btn-lang option {
	background-color: #919191;
}

.btn-lang:hover {
	color: #fff;
	cursor: default;
}

.form-label {
	margin-bottom: 15px;
}

.mail-container {
	font-size: 19px;
	text-align: center;
	display: grid;
	justify-items: center;
}

.form-control {
	cursor: text;
	font-size: 16px;
	text-align: left;
	border-radius: 1px;
}

.mail-box {
	display: flex;
	flex-direction: row;
	height: 60px;
	min-height: 60px;
	min-width: 450px;
	width: 640px;
}

.btn-mail {
	width: 40%;
	background-color: #E50914;
	border-radius: 1px;
	position: relative;
	min-width: 120px;
	color: #fff;
	font-size: 1.625rem;
	cursor: pointer;
}

.btn-mail::after{
	content: '';
	display: inline-block;
	width: 10px;
	height: 20px;
	margin-left: 10px;
	background: url("../images/arrow.svg");
}

.btn-mail:hover {
	color: white;
}

.container {
	margin: 0 auto;
	padding: 35px;
}

.img-tv {
	height: 400px;
	width: 530px;
	z-index: 1;
	position: relative;
}

.container-tv {
	position: relative;
}

.video-tv {
	height: 217px;
	width: 530px;
	position: absolute;
	top: 84px;
	right: 2px;
}

.grid-section-tv {
	display: grid;
	grid-template-columns: 1.3fr 1fr;
	align-items: center;
}

.grid-section-smartphone {
	display: grid;
	grid-template-columns: 1fr 1.6fr;
	align-items: center;
}

.img-smartphone {
	height: 368px;
	width: 505px;
	z-index: 1;
	position: relative;
}

.img-boxshot {
	height: 72px;
	width: 52px;
	margin-right: 13px;
}

.container-smartphone {
	position: relative;
	padding-bottom: 30px;
}

.container-downloading {
	position: absolute;
	display: flex;
	padding: 8px 12px;
	top: 256px;
	left: 85px;
	width: 327px;
	height: 95px;
	border-radius: 12px;
	border: 2px solid #404040;
	z-index: 1;
	background-color: #000;
	align-items: center;
	margin: auto;
}

.container-downloading::after {
	width: 3em;
	height: 3em;
	display: block;
	background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
	background-size: 100%;
	content: '';
}

.container-smartphone-text {
	margin: 0 117px;
}

.container-downloading p {
	margin-top: 20px;
	font-size: 16px;
}

.img-devices {
	height: 416px;
	width: 555px;
	z-index: 1;
	position: relative;
}

.container-devices {
	position: relative;
}

.video-device {
	height: 200px;
	width: 550px;
	position: absolute;
	right: 10px;
	top: 45px;
}

.grid-section-devices {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.img-kids {
	height: 379px;
	width: 505px;
}

.grid-section-kids {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.c-questions {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.faq {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 10px solid #222;
	height: 495px;
	font-size: 100px;
	margin-bottom: 50px;
}

.c-questions h1 {
	padding-bottom: 30px;
}

.section {
	border-bottom: 8px solid #222222;
}
