body {
	margin: 0;
	background-color: #000;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 26px;
}

.logo-container {
	padding: 29px 60px;
}

.logo {
	max-width: 134px;
	max-height: 36px;
	width: auto;
	height: auto;
}

.layout-basic {
	background-color: #626262;
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	padding-top: 1px;
	padding-bottom: 20%;
	color: white;
	box-shadow: inset 0 -30px 100px 10px black;
}

.home-text {
	font-family: "Helvetica";
	text-align: center;
	padding: 75px 0 75px 0;
	max-width: 950px;
}

.btn-join {
	background-color: #E50914;
	color: white;
	font-size: 17px;
	padding: 3px 17px 3px 17px;
	min-height: auto;
	min-width: auto;
}

.btn-join:hover{
	pointer-events: none;
}
